/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgb(250, 250, 250);

    font-family: 'Roboto';
}

p {
    margin: 0;
    padding: 0;
}

.global-wrapper {
    padding-left: 10%;
    padding-right: 10%;
}
