$color-main-blue: #3599e3;
$color-main-light-blue: #40bfd9;
$color-main-black: #212530;
$color-main-gray: rgb(156, 156, 156);
$color-main-white: white;

$color-error-dark: #cc0000;
$color-error-light: #ffcccc;
